<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Notificaciones
		{{#if notificationCount}}
			<span class="badge badge-inverse">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><a>No hay notificaciones</a></li>
		{{/if}}
	</ul>
</template>

<template name="notification">
	<li>
		<a href="{{notificationPostPath}}">
			<strong>{{commenterName}}</strong> ha comentado tu frik-it
		</a>
	</li>
</template>