<template name="header">
	<div class="container"> <!-- Inicio container principal -->
		<nav class="navbar navbar-default row" role="navigation"> <!-- Inicio del navegador -->
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand home" href="{{pathFor 'home'}}">Frik-it! <span class="badge">beta</span></a>
		  </div>
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li class="recientes {{activeRecientes}}"><a href="{{pathFor 'newPosts'}}">Recientes</a></li>
		      <li class="populares {{activePopulares}}"><a href="{{pathFor 'bestPosts'}}">Populares</a></li>
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="{{pathFor 'Cine'}}" class="Cine">Cine</a></li>
		          <li><a href="{{pathFor 'Comics'}}" class="Comics">Comics</a></li>
		          <li><a href="{{pathFor 'Informatica'}}" class="Informatica">Informática</a></li>
		          <li><a href="{{pathFor 'Libros'}}" class="Libros">Libros</a></li>
		          <li><a href="{{pathFor 'Videojuegos'}}" class="Videojuegos">Videojuegos</a></li>
		          <li><a href="{{pathFor 'Musica'}}" class="Musica">Música</a></li>
		          <li><a href="{{pathFor 'Otros'}}" class="Otros">Otros</a></li>
		          <li><a href="{{pathFor 'Television'}}" class="Television">Televisión</a></li>
		          <li><a href="{{pathFor 'home'}}" class="Todos">Todos</a></li>
		        </ul>
		      </li>
		      {{#if currentUser}}
		      <li><a href="{{pathFor 'postSubmit'}}">Nuevo</a></li>
		      <li class="dropdown">{{> notifications}}</li>
		      {{/if}}
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">{{loginButtons}}</a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav> <!-- fin del navegador -->
	</div> <!-- Fin container principal -->
</template>