<template name="postPage">

		{{> postItem2}} <!-- para no mostrar el boton de comentar -->
	
		{{#if currentUser}}
		{{else}}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p>Por favor, registrate o accede con tu cuenta para dejar un comentario.</p>
			</div>
		{{/if}}

		<div class="comments row">
			{{#each comments}}
				{{> comment}}
			{{/each}}
		</div>

		{{#if currentUser}}
			{{> commentSubmit}}
		{{/if}}
</template>

