<template name="postSubmit">  <!-- Form provisional, hay que retocarlo y añadir mas campos -->
	<form class="main">
		<div class="control-group">
		<label class="control-label" for="url">URL</label>
		<div class="controls">
		<input name="url" type="text" value="" placeholder="Tu URL"/>
		</div>
		</div>
	<div class="control-group">
		<label class="control-label" for="title">Titulo</label>
		<div class="controls">
		<input name="title" type="text" value="" placeholder="Ponle un título"/>
		</div>
		</div>
	<div class="control-group">
		<label class="control-label" for="message">Descripción</label>
		<div class="controls">
			<textarea name="message" type="text" value=""/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Enviar" class="btn btn-primary"/>
		</div>
	</div>
	</form>
</template>