<template name="selectCategoria">
		<div class="form-group">
			<label for="categoria">Categoría</label>
				<select class="form-control" name="categoria">
					<option></option>				
					<option>Cine</option>
					<option>Comics</option>
					<option>Informática</option>
					<option>Libros</option>
					<option>Música</option>
					<option>Otros</option>
					<option>Televisión</option>
					<option>Videojuegos</option>
				</select>
			<p class="help-block">Elige una categoría</p>
		</div>
</template>