<template name="commentSubmit">
	<form role="form" class="well form row">
		<div class="form-group">
			<label for="body">Comenta este frik-it!</label>
			<textarea name="body" class="form-control" rows="4" type="text" value=""/>
		</div>
		<button type="submit" class="btn btn-primary">Añadir comentario</button>
	</form>
</template>

<!-- <template name="commentSubmit">
	<form name="comment" class="comment-form">
		<div class="control-group">
			<div class="controls">
				<label for="body">Comment on this post</label>
				<textarea name="body"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Add Comment</button>
			</div>
		</div>
	</form>
</template> -->