<template name="postsList">
	<!-- class posts -->
		{{#each posts}}
			{{> postItem}}
		{{/each}}
</template>

<template name="postItem"> 
	<div class="row">
		<div class="panel panel-default"> <!-- class post -->
			<div class="panel-body"> <!-- class post-content -->
				<h3><a href="{{url}}" target="_BLANK">{{title}}</a> <small>{{domain}}</small>
				<a href="{{pathFor 'postPage'}}" class="btn btn-primary pull-right">Comentar</a></h3>
				<small>Creado el {{submittedText}}</small>
			</div>
		</div>
	</div>
</template>

